#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_GB]=
Comment=
Comment[en_US]=
Exec=apexisocreatorgui
GenericName[en_GB]=ApexIsoCreatorGui
GenericName=ApexIsoCreatorGui
GenericName[en_US]=ApexIsoCreatorGui
Icon=pirate-ship
MimeType=
Name[en_GB]=ApexIsoCreatorGui
Name=ApexIsoCreatorGui
Name[en_US]=ApexIsoCreatorGui
Path=/usr/bin
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility;
